.home-main {
    height: 91vh;
    // background: url('../images/nature.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem;
    padding: 1rem;

    img {
        width: 50%;
    }

    .home-content {
        padding: 1rem;
        margin: auto;
        color: var(--color-primary);

        p {
            margin: 0;
        }

        .greet {
            font-size: 2rem;
        }

        .name {
            font-size: 2rem;

            span {
                font-weight: 500;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 4rem;
                color: var(--orange-shade);
            }
        }


        /*
        spin effect on text
        */
        #spin {
            color: var(--color-secondary);
        }

        #spin:after {
            content: "SOFTWARE ENGINEER";
            animation: spin 5s linear infinite;
        }

        .des {
            font-size: 2rem;
            position: relative;
        }

        .exp {
            font-size: 2rem;

            span {
                color: var(--color-secondary);
            }
        }
    }
}

@keyframes spin {

    /* Updated animation name here */
    0% {
        content: "SOFTWARE ENGINEER";
    }

    10% {
        content: "MERN DEVELOPER";
    }

    20% {
        content: "MEAN DEVELOPER";
    }

    30% {
        content: "JAVA DEVELOPER";
    }

    40% {
        content: "ANDROID DEVELOPER";
    }

    50% {
        content: "FLUTTER DEVELOPER";
    }

    60% {
        content: "IONIC DEVELOPER";
    }

    70% {
        content: "FRONTEND ENGINEER";
    }

    80% {
        content: "BACKEND ENGINEER";
    }

    90% {
        content: "BACKEND ENGINEER";
    }
}