.home-main {
    height: 91vh;
    // background: url('../images/nature.jpeg');
    background-size: cover;
    display: flex;
    flex-direction: row;

    .home-content {
        width: fit-content;
        border: 1px solid white;
        margin: auto;
        color: var(--blue-shade);


        p {
            margin: 0;
        }

        .greet {
            font-size: 2rem;
        }

        .name {
            font-size: 2rem;

            span {
                font-weight: 500;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 4rem;
                color: var(--orange-shade);
            }
        }

        .des {
            font-size: 2rem;
        }

        .exp {
            font-size: 2rem;

            span {
                color: var(--red-shade);
            }
        }
    }

}