.nav {
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    .content {
        width: 100%;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-evenly;

            li {
                padding: 10px 20px;
                margin: 0px 10px;

                &:hover {
                    color: rebeccapurple;
                    cursor: pointer;
                }
            }

        }
    }
}