.nav-main {
    .navbar {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }
}

.nav-link {
    color: black;
    font-style: 'Ubuntu';
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0px 5px;
    transition: all 0.5s;

    &:hover {
        color: #007DFC;
    }
}

.dropdown-menu {
    overflow-y: auto;
}

.lang-image {
    width: 2rem;
    height: 2rem;
}